@model List<qlkdstDB.Data.ViewModel.huongdanViewModal>
@using qlkdst.Common;
@using qlkdstDB.Data.ViewModel;
@{
    ViewBag.Title = " THÔNG TIN TOUR";
    Layout = null;
    string mTrangThaiTour = DungChung.GetTrangThaiTour(ViewBag.idtour);
    string sRole = Session["RoleName"] == null ? "" : Session["RoleName"].ToString();

}

<div class="dshuongdan col-md-12">


    <!--Danh sach tour-->
    <div class="col-sm-12 col-md-12" style="overflow-x: auto">

        <!--TABLE-->
        <table class="table table-striped table-bordered table-hover table-condensed text-nowrap">
            <tr id="LoadingStatusBienNhan" style="color:red"></tr>
            <tr>
                <th>Quản lý</th>
                <th>Chi nhánh</th>
                <th>Tên hướng dẫn</th>
                <th>Phái</th>
                <th>Ngày sinh</th>
                <th>Điện thoại</th>
                <th>Hộ chiếu</th>
                <th>Hiệu lực hộ chiếu</th>
            </tr>
            <tbody class="text-nowrap">
                @if (Model != null)
                {
                    foreach (huongdanViewModal m in Model)
                    {


                        <tr>
                            <td>
                                @if (mTrangThaiTour != "3")
                                {
                                    <a id=@Html.Raw("btnEdit_" + m.mahd) href="javascript:;" data-id="@m.mahd"><i class="fa fa-edit"></i></a> <span> | </span>
                                    <a id=@Html.Raw("btnDel_" + m.mahd) href="javascript:;" title="Xoá mục này" class="text-danger" data-id="@m.mahd" data-idtour="@m.idtour"><i class=" fa fa fa-trash"></i></a>
                                }
                            </td>
                            <td>@m.mahd</td>
                            <td>@m.tenhd</td>
                            <td>@Html.Raw(m.phai == true ? "Nam" : "Nữ")</td>
                            <td>@(m.ngaysinh.HasValue ? @m.ngaysinh.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td>@m.dienthoaidd</td>
                            <td>@m.hochieu</td>
                            <td>@(m.hieuluchc.HasValue ? @m.hieuluchc.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td style="display:none;">

                                <script>

                                        $("table").on("click", "#btnEdit_@m.mahd" , function () {

                                            var id = $(this).data('id');
                                            EditHD(id);
                                        });

                                     $("table").on("click", "#btnDel_@m.mahd", function () {
                                            var id = $(this).data('id');//id=mahd
                                            var idtour = $(this).data('idtour');
                                            if (confirm("Xoá nội dung này?")) {

                                                $.ajax({
                                                    type: "POST",
                                                    url: "/QLKhachDoan/XoaHD",
                                                    data: { id: id },
                                                    dataType: "json",
                                                    success: function () {
                                                        LayDSHuongdan(idtour);
                                                    }
                                                    , error: function (xhr, status, error) {
                                                        alert("Có lỗi: " + error + " ,xin thông báo cho người quản lý biết!");
                                                    }
                                                });

                                            }
                                     })

                                </script>

                            </td>
                        </tr>
                    }
                }

            </tbody>

            @{
                <tfoot>
                    <tr>
                        <td class="text-center">

                            <a class="fAdd btn btn-primary" href="javascript:;"><i class="fa fa-plus">Thêm mới</i></a>

                        </td>
                    </tr>
                </tfoot>
            }
        </table>

        <!--END TABLE-->

    </div>

    <!--/ Danh sach tour-->

</div>


<div id="ModalHD">
    <div class="ThongtinHD"></div>
</div>
<script>

    $('.fAdd').click(function () {
        debugger
        var id = $('#hidtourid').val();//lay o trang Index
        ThemHD(id);
    });

    function EditHD(id) { 

        $.ajax({
            url: '/QLKhachDoan/EditHD',
            data: { id: id },
            type: 'GET',
            success: function (data) {
                $('.dshuongdan').hide(500);
                $('#ModalHD').show(500);
                $('.ThongtinHD').html(data);
            }
        });
    }


    function ThemHD(id) {

        $.ajax({
            url: '/QLKhachDoan/ThemHD',
            data: { id: id },
            type: 'GET',
            success: function (data) {

                $('.dshuongdan').hide(500);
                $('#ModalHD').show(500);
                $('.ThongtinHD').html(data);
            }
        });

    }

    function LayDSHuongdan(id) {

        $.ajax({
            url: '/QLKhachDoan/LayDSHuongdan',
            data: { id: id },
            type: 'GET',
            success: function (data) {
                $('#tabhdnd').html(data);
            }
        });
    }

</script>

