@model qlkdstDB.EF.khachsan

@*<script>

        $(function () { // will trigger when the document is ready
            $('.date-picker').datepicker({ dateFormat: 'dd/mm/yy' });

        });

    </script>*@

<script src="~/Scripts/script-custom-validator.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thêm khách sạn
            </div>
            <div class="panel-body">
                <div class="row">
                    <form id="frmKS">

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.idtour)
                        <input type="hidden" id="hidaddtourid" value="@Model.idtour" />

                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for="stt">   STT:</label>
                                @Html.TextBoxFor(model => model.stt, new { @class = "form-control", @id = "txstt" })
                                <p class="help-block"> </p>
                            </div>
                            <div class="form-group">
                                <label for="checkin">  Checkin:</label>
                                @Html.TextBoxFor(model => model.checkin, new { @class = "form-control date-picker" })
                                <p class="help-block"> </p>
                            </div>
                            <div class="form-group">
                                <label for="checkout">  Checkout:</label>
                                @Html.TextBoxFor(model => model.checkout, new { @class = "form-control date-picker" })
                                <p class="help-block"> </p>
                            </div>
                            <div class="form-group">
                                <label for="deadline">  Deadline:</label>
                                @Html.TextBoxFor(model => model.deadline, new { @class = "form-control date-picker" })
                                <p class="help-block"> </p>
                            </div>
                            <div class="form-group">
                                <label for="maks">   Mã KS:</label>
                                @Html.TextBoxFor(model => model.maks, new { @class = "form-control", @id = "txstt" })
                                <p class="help-block"> </p>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for="tenks">   Tên KS:</label>
                                @Html.TextBoxFor(model => model.tenks, new { @class = "form-control", @id = "txtenks" })
                                <p class="help-block"> </p>
                            </div>
                            <div class="form-group">
                                <label for="loaigia">   Loại giá:</label>
                                @Html.TextBoxFor(model => model.loaigia, new { @class = "form-control", @id = "txloaigia" })
                                <p class="help-block"> </p>
                            </div>
                            <div class="form-group">
                                <label for="tinhtp">   Tỉnh/TP:</label>
                                @Html.TextBoxFor(model => model.tinhtp, new { @class = "form-control", @id = "txtinhtp" })
                                <p class="help-block"> </p>
                            </div>
                            <div class="form-group">
                                <label for="sophong">   Số phòng:</label>
                                @Html.TextBoxFor(model => model.sophong, new { @class = "form-control", @id = "txsophong" })
                                <p class="help-block"> </p>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ghichu">   Note:</label>
                                @Html.TextAreaFor(model => model.ghichu, 10, 25, new { @id = "txghichu", @class = "form-control" })
                                <p class="help-block"> </p>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <input type="button" id="btnSaveKS" value="Lưu" class="btn btn-primary" />
                            <input type="button" class="btn btn-warning dongks" value="Quay lại" />

                        </div>
                    </form>
                </div>
                <!-- /.row (nested) -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


<script>
        $(function () {
            $(".date-picker").mask("99/99/9999");
        });

        $('.dongks').on('click', function () {
            $('#ModalKS').hide(500);
            $('.dskhachsan').show(500);
        });

    function LayDSKhachsan(id) {

            $.ajax({
                url: '/QLKhachDoan/LayDSKhachsan',
                data: { id: id },
                type: 'GET',
                success: function (data) {
                    $('#tabksnd').html(data);
                }
            });
        }

        $('#btnSaveKS').on('click', function () {
            debugger
            if ($('#frmKS').valid()) {
                var frmKS = $('#frmKS').serialize();
                $.ajax({
                    type: "POST",
                    url: "/QLKhachDoan/ThemKS",
                    data: frmKS,
                    dataType: "json",
                    success: function (response) {
                        debugger
                        if (response) {
                            var id = $('#hidaddtourid').val();//lay o trang nay                        /
                            LayDSKhachsan(id);
                        }
                    }
                    , error: function (xhr, status, error) {
                        alert("Có lỗi: " + error + " ,xin thông báo cho người quản lý biết!");
                    }
                });
            }

        });

</script>




